.nav {
    display: flex;
    padding: 16px;
    font-family: sans-serif;
  }

  .nav__list {
    margin-left:auto;
  }
  
 @media only screen and (max-width: 768px) {
    .nav {
      flex-direction: column;
    }
  }

  .blue {
    position:absolute;
    width: 253px;
    height: 379px;
    left: 79px;
    top: 71px;
    
    background: url(6f1b6d6b8d74e629d7854a761b5aac63.jpg);
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
  }

  .upload {
    height: 906px;
    width: 40px;
    margin-left:100px;
    top: 30px;
    border-radius: 0px;    
  }

  /*.uptxt {
    height: 906px;
    width: 40px;
    margin-left: 900px;
    top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #141615;
  }*/

 /* .uptxt {
    position:block;
    color:black;
    width: 120px;
    height: 42px;
    margin-left: 85px;
    margin-top: 0.1px;
  }*/

 /* .camtxt {
    position:block;
    color:black;
  } */

  .camera {
    width: 40px;  
    position: absolute;
    left: 50.17%;
    right: 4.17%;
    top: 92.5%;
    bottom: 12.5%;
  }

  .identify {
    /* Group 4 */
    position: absolute;
    background-color: black;
    color: white;
    width: 120px;
    height: 42px;
    left: 140px;
    top: 753px;
    border-radius: 8px;
    line-height: 42px;
    box-sizing: border-box;
    padding:0 31px;
  }

  .rectbl {
    position: absolute;
    width: 411px;
    height: 563px;
    left: 0px;
<<<<<<< HEAD
    top: 1240px;
=======
    top: 1040px;
>>>>>>> 62d3b28e421153c3b9255a7aceae7df066779605
    background: #141615;
  }

  .reach {
    position: absolute;
    width: 94px;
    height: 27px;
    left: 158px;
    top: 1100px;
    font-family: 'Poppins',;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
  }

  .lin {
    position: absolute;
    left: 78px;
    top: 1170px;
  }

  .insta {
    position: absolute;
    left: 148px;
    top: 1170px;
  }

  .insta2 {
    position: absolute;
    left: 157px;
    top: 1178px;
  }

  .twit {
    position: absolute;
    left: 218px;
    top: 1170px;
  }

  .github {
    position: absolute;
    left: 288px;
    top: 1170px;
  }

  .mail {
    position: absolute;
    left: 85px;
    top: 1318px;
    font-family: 'Poppins',;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  .call {
    position: absolute;
    left: 109px;
    top: 1278px;
    font-family: 'Poppins',;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  .whiterect {
    position: absolute;
    left: 49px;
    top: 1400px;
    border: 1.37778px solid #E7E7E7;
    border-radius: 6.88889px;
  }

  .feed {
    position: absolute;
    left: 60px;
    top: 1380px;
  }

  .mailbox{
    position: absolute;
    left: 60px;
    top: 1430px;
  }

  .feedbox{
    position: absolute;
    left: 60px;
    top: 1470px;
  }

  .send{
    position: absolute;
    left: 317px;
    top: 1509px;
<<<<<<< HEAD
  }
.uplabel {
  margin-left:100px;
  margin-top: 3px;
  transform: translateY(-100%);
}

.upsubmit {
  margin-left:100px;
  top: 30px;
}
=======
  }
>>>>>>> 62d3b28e421153c3b9255a7aceae7df066779605
